@import url("https://fonts.googleapis.com/css?family=Montserrat%7CRaleway%27");

body {
    padding-top: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #FFEBB8;
}

.navbar {
    background-color: #deb887;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.carousel-item {
    height: 39rem;

}

#capy1 {
    background-position: center top;
}

#capy2 {
    background-position: center;
}

section div p {
    background-color: #F5AF89;
}

.texto-centro{
    margin: auto;
    font-size: large;
    padding-bottom: 20px;
    font-style: italic;
}

.texto-carru{
    position:relative ;
    top: 50%;
    margin-left: 10px;
    
    color:white;
}

.ver-mas{
    position: relative;
    top: 50%;
    left: 500px;
    font-size: small;
}

h5 {
    text-align: left;
}

.img-dato-der {
    float: right;
    width: 500px;
    height: 300px;
    margin: 20px;
    margin-left: 50px;

}

.img-dato-izq {
    float: left;
    width: 500px;
    height: 300px;
    margin: 20px 50px;

}

.dato {
    text-align: justify;
    padding: 30px;
    margin: 20px;
    margin-bottom: 180px;
    font-size: large;
    font-style: italic;
}

.container-content {
    width: 900px;
    margin: auto;
    display: flex;
    margin-top: 50px;
    justify-content: center;
}



#noticia {
    width: 100%;
    padding-left: 100px;

}

#noticia img {
    margin: auto;
    padding-right: 100px;
    width: 800px;
    margin-bottom: 30px;
}

.container-aside aside {
    width: 328px;
    border-radius: 6px;
    padding-left: 50px;
    border-bottom: 50px;
    display: block;

}

.container-aside aside img {
    width: 100%;
    padding-right: 40px;
}

.container-aside aside h2 {
    font-size: larger;
    padding-left: 10px;
    padding-top: 10px;
}

.container-aside aside p {
    font-size: small;
    padding-left: 10px;
}

.container-aside aside button{
    background-color: #F5AF89;
    margin-left: 10px;
    margin-bottom: 20px;
}

.accordion-button{
    background-color: #F5AF89;
}

.accordion-item{
    background-color: #deb887;
}

/* @Media */

@media (max-width: 768px){
    .ver-mas{
        left: 300px;
    }
    .carousel-item{
        height: 20rem;
    }

    #capy1{
        background-position: -100px -150px;
    }
}

@media (max-width: 1024px){
    #noticia{
        min-width: 300px;
    }

    #noticia img{
        width: 500px;
    }
}

@media (max-width: 576px){
    .container-aside{
        display:none;
    }
}
